.title-feed {
    font-weight: 500;
    font-size: 30px;
    font-family: 'Grand Hotel', cursive;
    color: black;
}

.navbar-feed {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}