.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-container-mobile {
    width: 300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image {
    height: 700px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 230px;
}

.login-card {
    margin-top: 100px;
    width: 350px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.redirect-card {
    width: 350px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redirect-text-mobile {
    margin-top: 20px;
}

.redirect-one {
    font-size: 15px;
}

.redirect-two {
    margin-top: 2px;
    font-size: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
    margin-bottom: 13px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 500;
    font-size: 60px;
    font-family: 'Grand Hotel', cursive;
    margin-bottom: 10px;
}

.info {
    font-size: 13px;
    color: gray;
}


.image-wrapper {
    width: 550px;
}

.everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verse-container {
    margin-top: -30px;
    width: 700px;
    text-align: center;
}

.verse-container-mobile {
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.verse {
    color: gray;
    font-style: italic;
}

.verse-mobile {
    font-size: 11px;
    line-height: 1.2;
    color: gray;
    font-style: italic;
}

.verse-2-mobile {
    margin-top: 10px;
    color: gray;
    font-style: italic;
    font-size: 11px;
}

.verse-2 {
    margin-top: 10px;
    color: gray;
    font-style: italic;
}

.red-text {
    color: red;
}