.card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}   

.card {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
}

.card-img {
    width: auto;
    max-width: 142px;
    height: 142px;
    align-self: center;
}

.card-title {
    font-size: 18px;
}

.card-text {
    font-size: 13px;
    margin-bottom: 0px;
}

#avail {
    font-size: 13px;
    margin-bottom: 0px;
    margin-left: 5px;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.header-center {
    align-self: center;
    margin-top: 7px;
}

.card-container-header {
    display: flex;
    flex-direction: row;
}

.greeting-info {
    font-size: 15px;
}