.card {
    align-self: center;
    align-items: center;
    align-content: center;
}

.card-img {
    height: auto; 
    width: auto; 
    max-width: 130px; 
    max-height: 130px;
    align-self: center;
}

.card-container {
    display: flex;
    flex-direction: row;
}