.card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 40px;
}   

.card {
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 6px;
}

.card-img {
    width: auto;
    max-width: 142px;
    height: 142px;
    align-self: center;
}

.card-body-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px !important;
    width: 180px; 
    margin-top: -4px;
}

.card-verse-text-empty {
    color: rgb(103, 102, 102);
    font-size: 13px;
    font-style: oblique;
    margin-bottom: 5px !important;
    text-align: center;
    line-height: normal;
    padding-left: 40px;
    padding-right: 40px;
}

.card-verse-text {
    color: rgb(103, 102, 102);
    font-size: 13px;
    font-style: oblique;
    margin-bottom: 5px !important;
    text-align: center;
}

.card-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px !important;
}

.card-text {
    font-size: 15px;
    margin-bottom: 0px;
}

#avail {
    margin-left: 1.5px;
}

#not-avail {
    margin-left: 0px;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.header-center {
    align-self: center;
    margin-top: 15px;
}

.card-container-header {
    display: flex;
    flex-direction: column;
}

.card-container-info {
    align-self: center;
    margin-top: 10px;
}

.card-container-info .card {
    width: 300px;
}

.jumbotron {
    font-family: 'Noto Sans JP', sans-serif;
}

.greeting-header {
    font-weight: 700;
    font-size: 35px;
}

.greeting-info {
    font-size: 15px;
}

#button {
    color: black;
}

.button-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    max-width: 150px;
}

img.rounded-circle {
    height: 180px;
    width: 180px;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.member-name {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
}

.info-wrapper {
    width: 100%;
    display: flex;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 6px rgba(0,0,0,.125);
    margin-top: auto;
    margin-bottom: auto;
}

i.fas.fa-graduation-cap {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

i.fas.fa-user-alt-slash {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
}

i.far.fa-surprise {
    width: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

i.far.fa-laugh-squint {
    width: 20px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper {
    padding-left: 10px;
}

.title {
    color: gray;
    font-size: 13px;
}