body {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    color: #4A4A4A;
    background-color: #FAFAFA;
}

#members-header {
    text-align: center;
}

.custom-control {
    font-size: 14px;
}

.custom-control input[type=checkbox] {
    display: none;
}

#info {
    text-align: center;
    font-size: 13px;
    width: 200px
    height: 60px
}

.color-checkbox {
    display: inline-block;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-width: 0px 0px 0px 4px;
    border-style: solid;
    border-color: rgb(56, 154, 228);
    width: 100px;
    height: 110px;
}

.color-checkbox:hover {
    background-color: rgb(238, 247, 255);
}


input[type=checkbox]:checked + .color-checkbox {
    background-color:rgb(164, 216, 255);

}    

.two-member-container {
    display: flex;
    text-align: center; 
    align-items: center;
    justify-content: center; 
}



.member-form-image {
    height: auto; 
    width: auto; 
    max-width: 67px; 
    max-height: 67px;
}

.class-header {
    text-align: center;
    font-size: 20px;
}

#submitButton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#submitButton:hover {
    background: #49AAFE;
}