body {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    color: #4A4A4A;
    background-color: #FAFAFA;
}

#members-header {
    text-align: center;
}


 .custom-control {
    margin-right: 50px;
} 


.member-form-image {
    height: auto; 
    width: auto; 
    max-width: 75px; 
    max-height: 75px;
}

#submitButton {
    /* border: 1px solid #49AAFE;
    color: #fff;
    background: #49AAFE;
    padding: 10px 20px;
    border-radius: 3px; */
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#submitButton:hover {
    background: #49AAFE;
}