body {
    font-family: -apple-system, BlinkMacSystemFont, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    color: #4A4A4A;
    background-color: #FAFAFA;
}

#members-header {
    text-align: center;
}

.member-form-image {
    height: auto; 
    width: auto; 
    max-width: 75px; 
    max-height: 75px;
}

#submitButton {
    border: 1px solid #86C6FE;
    color: #fff;
    background: #86C6FE;
    padding: 10px 20px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}
#submitButton:hover {
    background: #86C6FE;
}


